#loginbtn {
    background-color: #f55353;
    border-color: #f55353;
    margin-top: 20px;
}

#loginform {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;

    width: 75%;

}

#logintxt {
    margin-bottom: 40px;
}